Package: com.dpkgdan.threecolumnspringboard
Name: Three Column SpringBoard
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Gives the SpringBoard a 3-column layout.
Maintainer: Dan Saba
Author: Dan Saba
Section: Tweaks
Version: 0.0.1-8
Installed-Size: 72
